body {
    margin: 0px;
}

.main-header {
    margin: 0;
    background: navy;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
}

.main-header a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

.main-header-link {
    margin-right: 10px;
}

.main-header-sub-link {
    margin-right: 10px;
    font-style: italic;
}

.problems-main {
    display: flex;
    flex-direction: row;
}

.problems-navigation {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.problems-navigation ul {
    list-style-type: none;
    margin-top: 0px;
    margin-left: 10px;
    padding: 0px;
}

.problems-content {
    margin-top: 10px;
    margin-left: 10px;
}

.problems-content h2 {
    margin-top: 0px;
}

.problem-display button {
    margin-bottom: 10px;
}

.result-display {
    border-style: solid;
    border-color: gray;
    border-width: thin;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.result-display h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.problem-results-div {
    margin: 10px;
}

.problem-result-download-div {
    margin-bottom: 10px;
}

.problem-results-div table {
    border-collapse: collapse;
}

.problem-results-div table td, th {
    border-style: solid;
    border-width: thin;
    border-color: black;
    padding-left: 8px;
    padding-right: 8px;
}